{% extends "layout.html" %}


{% block title %}
История запусков
{% endblock %}



{% block content %}



<div class="page-header">

    <div>

        <h1>
            📜 История запусков
        </h1>

        <p class="page-description">
            Последние обновления товарных фидов
        </p>

    </div>


</div>





<div class="history-list">



{% for log in logs %}



<div class="card history-card">





<div class="history-header">



<div>


<div class="history-date">

📅 {{ log.date }}

</div>


<div class="history-duration">

⏱ {{ log.duration }}

</div>


</div>





<div>


{% if log.status == "success" or log.status == "OK" %}


<span class="status success">

✓ Успешно

</span>


{% else %}


<span class="status failed">

✕ Ошибка

</span>


{% endif %}


</div>



</div>








<div class="history-stats">



<div class="stat-box">


<span>
📦 Товары
</span>


<b>
{{ log.result.offers }}
</b>


</div>





<div class="stat-box">


<span>
📄 Фиды
</span>


<b>
{{ log.result.feeds }}
</b>


</div>






<div class="stat-box">


<span>
🔍 Проверка
</span>


<b>


{% if log.check.success %}


<span class="ok">
OK
</span>


{% else %}


<span class="error">
Ошибка
</span>


{% endif %}



</b>


</div>




</div>





{% if log.error %}


<div class="history-error">


⚠ {{ log.error }}


</div>


{% endif %}





</div>




{% endfor %}



</div>





{% endblock %}