<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<link rel="icon" 
href="{{ url_for('static', filename='favicon.png') }}">

<title>
Feed Manager
</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">



</head>


<body>


<div class="wrapper">



<div class="sidebar">



<div class="logo">

    🚀 Feed Manager

    <small>
        {{ shop_name }}
    </small>

</div>




<a href="/" 
class="{% if request.path=='/' %}active{% endif %}">
🏠 Главная
</a>



<a href="/feeds"
class="{% if request.path.startswith('/feeds') %}active{% endif %}">
📦 Фиды
</a>



<a href="/history"
class="{% if request.path.startswith('/history') %}active{% endif %}">
📜 История
</a>



<a href="/settings"
class="{% if request.path.startswith('/settings') %}active{% endif %}">
⚙ Настройки
</a>



</div>





<div class="content">


{% block content %}

{% endblock %}


</div>



</div>





<footer>

{{ shop_name }} · Feed Manager v{{ app_version }}

</footer>



</body>

</html>